body#background {
	background: url("noksukow.jpeg") no-repeat 50% 50% fixed;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

/*moves the content of the page over to the right and centers it vertically*/
#content {
	color: white;
	position: fixed;
	left: 75%;
}

h1 {
	text-shadow: 2px 2px red;
}

#citation {
	font-size: small;
}